$main-red:    #8E3E3B;
$light-red:   #984340;
$main-blue:   #344b6e;
$main-green:  #476650;
$main-white:  #e8e8e8;
$main-yellow: #ffe74c;
$header-height: 219px;
$tab-height: 39px;


body {
    background-color: $main-blue;
    #header {
        top: 0;
        width: calc(100% - 400px);
        background-color: transparent;
        padding: 35px 0 0 16px;
        border-bottom: none;
        #sr-header-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
        }
        #header-bottom-left {
            display: flex;
            align-items: flex-end;
            height: $tab-height;
            width: 100%;
            padding: 180px 0 0 12px;
            background-color: $main-green;
            box-shadow: 0 0 0 4px $main-green;
            border: 3px solid $main-white;
            border-radius: 8px;
            #header-img-a {
                position: absolute;
                top: 58px;
            }
            .hover.pagename.redditname a {
                position: absolute;
                font-size: 0;
                top: 48px;
                left: 50%;
                margin-left: -58px;
                width: 80px;
                height: 80px;
                background-color: $main-white;
                border: 14px solid $main-blue;
                border-radius: 60px;

            }
            ul.tabmenu {
                padding: 12px 0;
                margin: 0 1em 0 -1em;
                width: 100%;
                display: flex;
                justify-content: space-around;
                border-top: 2px solid $main-white;
                li {
                    text-transform: uppercase;
                    a {
                        background-color: transparent;
                        color: $main-white;
                        border: none;
                    }
                    &.selected a {
                        color: $main-yellow;
                    }
                }
            }
        }
        #header-bottom-right {
            background-color: transparent;
            top: 40px;
            span, span.user, a {
                color: $main-white!important;
            }
            #userbarToggle {
                top: -2px;
                border: none;
                color: $main-white;
                background-color: transparent;
            }
            #mail {
                margin: auto;
                height: 8px;
                width: 13px;
                overflow: hidden;
                position: relative;
                background-color: $main-white;
                background-image: none;
                &.nohavemail {
                    border: 1px solid gray;
                    &:before, &:after {
                        border: 1px solid gray;
                    }
                }
                &.havemail {
                    border: 1px solid $main-yellow;
                    &:before, &:after {
                        border: 1px solid $main-yellow;
                    }
                }

                &:before, &:after {
                    content: '';
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                  }

                &:before{
                    top: 5px;
                    left: -2px;
                }

                &:after{
                    top: -13px;
                    left: -2px;
                    background-color: $main-white;
                }
            }
        }
    }
    .side {
        padding: 12px;
        margin: -225px 16px 0 0;
        background-color: $main-green;
        background-color: $main-green;
        box-shadow: 0 0 0 4px $main-green;
        border: 3px solid $main-white;
        border-radius: 8px;

        .spacer {
            .titlebox {
                .subButtons {
                    .fancy-toggle-button.subscribe-button a {
                        &.add {
                            background-image: none;
                            background-color: $main-blue;
                        }
                        &.remove {
                            background-image: none;
                            background-color: $main-red;
                        }
                    }
                    .res-fancy-toggle-button {
                        background-image: none;
                        background-color: $main-blue;
                        &.remove {
                            background-color: $main-red;
                        }
                    }
                }
                .usertext {
                    .usertext-body {
                        .md
                            table {
                                width: 100%;
                                th, td {
                                    color: $main-white;
                                    border: none;
                                    border-bottom: 2px solid $main-white;
                                    a {
                                        color: $main-white;
                                        &:hover {
                                            color: $main-yellow;
                                            -webkit-transition: color 0.2s;
                                            -moz-transition: color 0.2s;
                                            transition: color 0.2s;
                                        }
                                    }
                                }
                                th {
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        padding: 12px;
        background-color: white;
        margin: 16px 362px 0 12px;
        border-radius: 8px;
    }
}