$main-red:    #8E3E3B;
$light-red:   #984340;
$main-blue:   #404b6e;
$main-green:  #476650;
$main-white:  #e8e8e8;
$main-yellow: #ffe74c;
$header-height: 219px;
$tab-height: 39px;


body {
    #header {
        position: fixed;
        top: 0;
        height: $header-height;
        width: 100%;
        background-color: $main-white;
        background-image:
            linear-gradient(335deg, $main-red  23px, transparent 23px),
            linear-gradient(155deg, $light-red 23px, transparent 23px),
            linear-gradient(335deg, $main-red  23px, transparent 23px),
            linear-gradient(155deg, $light-red 23px, transparent 23px);
        background-size: 58px 58px;
        background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
        border-bottom: none;
        box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
        #header-bottom-left {
            display: flex;
            align-items: flex-end;
            margin-top: 161px;
            height: $tab-height;
            width: 100%;
            background-color: $main-green;
            #header-img-a {
                position: absolute;
                top: 58px;
            }
            .hover.pagename.redditname a {
                position: absolute;
                font-size: 0;
                top: 48px;
                left: 50%;
                margin-left: -58px;
                width: 80px;
                height: 80px;
                background-color: $main-white;
                border: 14px solid $main-blue;
                border-radius: 60px;

            }
            ul.tabmenu {
                padding: 12px 0;
                margin-left: -1em;
                li {
                    a {
                        background-color: transparent;
                        color: $main-white;
                        border: none;
                    }
                    &.selected a {
                        color: $main-yellow;
                    }
                }
            }
        }
        #header-bottom-right {
            background-color: transparent;
            top: 188px;
            right: 16px;
            span, span.user, a {
                color: $main-white!important;
            }
            #userbarToggle {
                top: -2px;
                border: none;
                color: $main-white;
                background-color: transparent;
            }
            #mail {
                margin: auto;
                height: 8px;
                width: 13px;
                overflow: hidden;
                position: relative;
                background-color: $main-white;
                background-image: none;
                &.nohavemail {
                    border: 1px solid gray;
                    &:before, &:after {
                        border: 1px solid gray;
                    }
                }
                &.havemail {
                    border: 1px solid $main-yellow;
                    &:before, &:after {
                        border: 1px solid $main-yellow;
                    }
                }

                &:before, &:after {
                    content: '';
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                  }

                &:before{
                    top: 5px;
                    left: -2px;
                }

                &:after{
                    top: -13px;
                    left: -2px;
                    background-color: $main-white;
                }
            }
        }
    }
    .content {
        margin-top: 227px;
    }
}